if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PFMAP]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[PFMAP]
GO

CREATE TABLE [dbo].[PFMAP] (
	[PFBH1] [varchar] (16) COLLATE Chinese_Taiwan_Stroke_CI_AS NOT NULL ,
	[PFBH2] [varchar] (16) COLLATE Chinese_Taiwan_Stroke_CI_AS NOT NULL 
) ON [PRIMARY]
GO

