if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PFSMS]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[PFSMS]
GO

CREATE TABLE [dbo].[PFSMS] (
	[GSBH] [varchar] (4) COLLATE Chinese_Taiwan_Stroke_CI_AS NOT NULL ,
	[PFBH] [char] (16) COLLATE Chinese_Taiwan_Stroke_CI_AS NOT NULL ,
	[CLBH] [char] (16) COLLATE Chinese_Taiwan_Stroke_CI_AS NOT NULL ,
	[workDate] [smalldatetime] NOT NULL ,
	[times] [int] NOT NULL ,
	[okPrint] [int] NOT NULL ,
	[USERID] [varchar] (20) COLLATE Chinese_Taiwan_Stroke_CI_AS NOT NULL ,
	[USERDATE] [smalldatetime] NOT NULL 
) ON [PRIMARY]
GO

