<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UHFDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UHFDemo.Properties.Settings>
            <setting name="lightip" serializeAs="String">
                <value>192.168.0.168</value>
            </setting>
            <setting name="sleeptime" serializeAs="String">
                <value>10</value>
            </setting>
        </UHFDemo.Properties.Settings>
    </userSettings>
</configuration>